<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons/css/boxicons.min.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #222;
            color: #fff;
            overflow-x: hidden;
        }
        .container {
            display: flex;
            min-height: 100vh;
        }
        .sidebar {
            background-color: #333;
            width: 300px;
            padding: 20px;
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            overflow-y: auto;
        }
        .sidebar img,
        .sidebar h2 {
            display: inline-block;
            vertical-align: middle;
            margin-bottom: 30px;
        }
        .sidebar img {
            max-width: 50px;
            border-radius: 50%;
            margin-right: 10px;
        }
        .sidebar h2 {
            text-align: center;
        }
        .sidebar ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        .sidebar li {
            margin-bottom: 10px;
            padding: 0;
        }

        .sidebar li a {
            color: #fff;
            text-decoration: none;
            display: block;
            padding: 10px 20px;
            transition: background-color 0.3s ease;
            border-left: 3px solid transparent;
        }
        .sidebar li a:hover {
            background: #414141;
        }
        .sidebar li.active a {
            border-left: 3px solid #0077c1;
            background: #414141;
        }
        .logout-btn {
            position: absolute;
            bottom: 20px;
            left: 20px;
            width: calc(100% - 40px);
        }
        .logout-btn a {
            color: #fff;
            text-decoration: none;
            display: inline-block;
            padding: 10px 20px;
            border-radius: 5px;
            transition: background-color 0.3s ease;
            background-color: #ff0000;
            background: #9f0000;
        }
        .logout-btn a:hover {
            background: #7c0a0a;
        }
        .content {
            flex: 1;
            padding: 20px;
            margin-left: 320px;
        }
        .grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
            gap: 20px;
            margin-left: 50px;
        }
        .card {
            border-radius: 10px;
            padding: 20px;
            background-color: #151515;
            text-align: center;
            cursor: pointer;
            transition: transform 0.3s ease;
        }
        .card:hover {
            transform: translateY(-5px);
        }
        .guild-logo {
            max-width: 100px;
            max-height: 100px;
            margin: 0 auto;
            border-radius: 50%;
        }
        .guild-name {
            margin-top: 10px;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <div>
                <img src="https://pulsey.xyz/logo.png" alt="">
                <h2>Pulsey</h2>
                <ul>
                    <li class="<%= activeTab === 'dashboard' ? 'active' : '' %>"><a href="/dashboard">
                        <i class='bx bxs-dashboard'></i>
                        Dashboard
                    </a></li>
                    <li class="<%= activeTab === 'account' ? 'active' : '' %>"><a href="/account">
                        <i class='bx bx-cog'></i>
                        Account
                    </a></li>
                    <li class="<%= activeTab === 'premium' ? 'active' : '' %>"><a href="/premium">
                        <i class='bx bx-crown' ></i>
                        Premium
                    </a></li>
                    <% if (admin === true) { %>
                        <li class="<%= activeTab === 'admin' ? 'active' : '' %>"><a href="/admin">
                            <i class='bx bx-shield-quarter'></i>
                            Admin
                        </a></li>
                    <% } %>
                </ul>
            </div>
            <div class="logout-btn">
                <a href="/logout"><i class='bx bx-log-out'></i> Logout</a>
            </div>
        </div>
        <div class="content">
            <center><h1>Welcome to Your Dashboard</h1></center>
            <div class="grid">
                <% guilds.forEach(guild => { %>
                    <div class="card" onclick="window.location.href = '/dashboard/<%= guild.id %>'">
                        <img class="guild-logo" src="https://cdn.discordapp.com/icons/<%= guild.id %>/<%= guild.icon %>.png" alt="Guild Logo">
                        <p class="guild-name"><%= guild.name %></p>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
</body>
</html>